<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find av_gazebo)/models/world/test_track.world" />
  </include>
  <!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf"
   pkg="gazebo_ros"
   type="spawn_model"
   args="-file $(find av_gazebo)/models/av_robot/model.sdf -sdf -z 1 -model av_robot" />
</launch>